# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @d80tb7 @dave-gantenbein @dejanzele @eleanorpratt @JamesMurkin @masipauskas @mauriceyap @MustafaI @zuqq @richscott @robertdavidsmith @samclark @suprjinx @nikola-jokic 
